.mr-24 {
  margin-right: 24px;
}

.header-container {
  height: 64px;
  background: #FFFFFF;
}

.header-menu {
  .ant-menu-item {
    height: 20px;
    /* Typo/Title Tiny */
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    
    display: flex;
    align-items: center;

    /* Colors/Typo/Black/Text Sub */
    color: rgba(0, 0, 0, 0.4);

  }
  .ant-menu-item-selected {
    color: #0040FF;
  }
  .ant-menu-title-content {
    border: 0 !important;
  }
  .ant-menu-item::after {
    border-bottom: none !important;
  }
}

.account-avatar {
  width: 32px;
  height: 32px;
  margin-right: 8px;
}
.account-name {
  height: 20px;

    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    /* Colors/Typo/Black/Title */

    color: #000000;
}
.account-divider {
  border: 1px solid #E3E3E6;
}