.mr-6 {
  margin-right: 6px !important;
}
.g-30 {
  gap: 30px !important;
}

.dkk-sider-container {
  background: #FFFFFF;
  height: 100vh;
}

.sider-logo-box {
  margin-top: 20px;
  margin-left: 24px;
}

.sider-logo-icon {
  height: 20px;
  font-size: 20px;
}
.sider-logo-title {
  width: 120px;
  height: 18px;

  font-family: 'Myriad Pro';
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 100%;
  /* identical to box height, or 18px */
  color: #0040FF;
}

.sider-menu {
  margin-left: 12px;
}
.sider-menu > .ant-menu-item {
  width: 214px;
  height: 48px;
  
  background: #FFFFFF;
  border-radius: 8px;
  margin: 0 !important;
  margin-bottom: 12px !important;
}
.sider-menu > .ant-menu-item-selected {
  background-color: #e6f4ff;
  .ant-menu-title-content {
    color: #0040FF;
  }
}

.sider-menu {
  .ant-menu-item-icon {
    height: 24px;
    width: 24px;
  }
  .ant-menu-title-content {
    font-family: 'Segoe UI';
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    /* identical to box height, or 143% */

    display: flex;
    align-items: center;
    /* Colors/Typo/Black/Text Sub */

    color: rgba(0, 0, 0, 0.4);

  }
}